{% extends "bootstrap/base.html" %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block title %} Project Origin {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='logo-sm.png') }}" alt="" style="height: 100%">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="https://github.com/{{ config['ORIGINAL_REPO'] }}" target="_blank">View on GitHub</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not g.user.authorized %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ g.user.profile_url }}">My GitHub</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ flashed_messages() }}

    {% block main_content %}{% endblock %}

    <footer class="footer text-center">
        <div class="container">
            <p class="small text-muted">Created by Anton Romanovych, 2019</p>
        </div>
    </footer>
{% endblock %}
